<div class="info">
  <h1><%= @sloth.name %></h1>
  <p>Enjoys "picking up chicks at the local club." Often seen carrying an abnormally large stack of cash. Check out his blog <a href = "http://tylerbrewer2.github.io/simple-blog/" target= "_blank">here.</a></p>
</div>
