<%= image_tag "avatar.png", :class => "image" %><br>
<%= link_to "See Description", "/sloths/#{@sloth.id}", :remote => true , :id => "thelink" %>
<div id="replaced"></div>


<script>
  var ajax_test = true
  $('#thelink').bind('ajax:complete', function(event, data) {
    console.log("You submitted an AJAX request!")
    if  (ajax_test) {
      $('#replaced').html(data.responseText);
      ajax_test = false;
    } else {
      $('#replaced').html("");
      ajax_test = true
    }
  });
</script>
